@model IEnumerable<Doormandondemand.Manager>
@using SecurityMonitor.Models;

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            @Html.ActionLink("Management", "Index")
        </div>
    </div>
    <div class="row lightdarkblue" style="padding-top:20px; padding-bottom:20px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p style="font-size:30px;">Managers</p>
        </div>
    </div>
<div class="row " style="border-bottom:1px solid lightgrey;">
    <div class="col-md-2 managerlistsettings ">Name </div>
    <div class="col-md-2 managerlistsettings">Phone </div>
    <div class="col-md-3 managerlistsettings">UserName</div>
</div>
   @if (Model != null)
   {
       foreach (var item in Model)
       {
           if (item.Clients != null)
           {
               DisplayClientBuilding mymodel = new DisplayClientBuilding()
               {
                   ManagerID = @item.ID,
                   ClientID = @item.Clients.ID
               };
            <div class="row  hollow3" onclick="location.href = '@Url.Action("SelectBuilding", "management", mymodel)'">
                <div class="col-md-2 managerlistsettings ">@item.FirstName @item.LastName </div>
                <div class="col-md-2 managerlistsettings">@item.Phone </div>
                <div class="col-md-3 managerlistsettings"> @item.AspNetUsers.UserName</div>
            </div>
           }
       }
   }

