@{
    ViewBag.Title = "Dasboard";
}
<head>
    <title></title>
</head>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!--Add Module section-->
        <section style="margin:50px 0 50px 0;">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12   paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow " onclick="location.href = '@Url.Action("ClientHome", "Building")'">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="~/img/client.png" class="img-circle hometiles" />

                            <h4>Clients</h4>
                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0; z-index:20;position:relative">
            <!--vCard starts-->
            <div id="buildingid" class="col-md-4 col-lg-4col-sm-12 col-xs-12   paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="~/img/building.png" class="img-circle hometiles" />
                            <h4>Buildings</h4>
                            <input type="text" class="form-control buildingsearchHome" data-bind="value:searchbuildings, valueUpdate:'afterkeydown'" />
                            <div id="BuildingsTilesResultBox" data-bind="foreach:GlobalBresult " class="scrollable" style="min-height:600px; max-height:600px;">

                                <section style="margin:50px 0 50px 0;">
                                    <!--vCard starts-->
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12   paddingBottom20px nopadding">
                                        <!--header starts-->
                                        <section class=" col-md-12 text-center clientboxrow " data-bind="click:takemetobuilding">
                                            <section class=" boxheadGlobalBuildingResult hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                                                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding text-center">

                                                    <p class="nopadding" style="line-height:40px; padding-top:10px;" data-bind="text:BName"></p>
                                                    <hr class="nopadding" />
                                                    <p class="BCity " style="line-height:16px;" data-bind="text:FullAddress" ></p>
                                                    <hr class="nopadding" />
                                                    <p class="BState" style="line-height:16px;" data-bind="text:FullCityStateZip"></p>
                                                    <hr class="nopadding" />
                                                    <p class="BPhone" style="line-height:16px;" data-bind="text:BPhone"></p>
                                                  
                                                </div>
                                            </section>
                                        </section>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0; z-index:20; position:relative;">
            <!--vCard starts-->
            <div id="Tenantid" class=" col-md-4 col-lg-4 col-sm-12 col-xs-12  paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="~/img/person.gif" class="img-circle hometiles" />
                            <h4>Tenants</h4>
                            <input type="text" class="form-control TenantsearchHome" data-bind="value:searchTenant, valueUpdate:'afterkeydown'" />
                            <div id="TenantTilesResultBox" data-bind="foreach:GlobalTresult " class="scrollable" style="min-height:600px; max-height:600px;">

                                <section style="margin:50px 0 50px 0;">
                                    <!--vCard starts-->
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12   paddingBottom20px nopadding">
                                        <!--header starts-->
                                        <section class=" col-md-12 text-center clientboxrow " data-bind="click:takemetoapartment">
                                            <section class=" boxheadGlobalBuildingResult hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                                                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding text-center">

                                                    <p class="nopadding" style="line-height:40px; padding-top:10px;" data-bind="text:FullName"></p>
                                                    <hr class="nopadding" />
                                                    <p class="BCity " style="line-height:16px;" data-bind="text:Email"></p>
                                                    <hr class="nopadding" />
                                                    <p class="BState" style="line-height:16px;" data-bind="text:Phone"></p>


                                                </div>
                                            </section>
                                        </section>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0;">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12   paddingBottom20px nopadding" data-bind="click:takemetoAccountmanagement">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="img-circle hometiles fa fa-lock fa-3x" />
                            <h4>Account Management</h4>

                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0;">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12  paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="img-circle hometiles" />
                            <h4>UnUsed</h4>

                        </div>
                    </section>
                </section>
            </div>
        </section>
        <!--6-->
        <section style="margin:50px 0 50px 0; ">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12   paddingBottom20px nopadding " onclick="location.href = '@Url.Action("Index", "Dashboard")'">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding ">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="~/img/biometria.jpg" class="img-circle hometiles" />
                            <h4>Access Dashboard</h4>
                         
                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0;">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12   paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="img-circle hometiles" />
                            <h4>UnUsed</h4>

                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0;">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4col-sm-12 col-xs-12   paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="img-circle hometiles" />
                            <h4>UnUsed</h4>

                        </div>
                    </section>
                </section>
            </div>
        </section>
        <section style="margin:50px 0 50px 0;">
            <!--vCard starts-->
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12   paddingBottom20px nopadding">
                <!--header starts-->
                <section class=" col-md-12 text-center clientboxrow ">
                    <section class=" boxheadHome hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding">
                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="img-circle hometiles" />
                            <h4>UnUsed</h4>

                        </div>
                    </section>
                </section>
            </div>
        </section>


    </div>
</div>







<div class="row ">
    @*<!--Dashboard tile-->
        <div id="" class="col-lg-4 col-md-4 col-sm-4 col-xs-4  tile_height lightblue homebox ">
         <img src="~/img/D.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
            <span style="position:absolute; left:28%; bottom:10%; font-size:150%;">Dasboard</span>
        </div>

    <!--Dashboard tile ends-->*@
    
    <!--Client tile-->
    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine homebox" onclick="location.href = '@Url.Action("ClientHome", "Building")'">
        <img src="~/img/client.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:25%; bottom:10%; font-size:150%;">Clients</span>
    </div>*@
    <!--Client tile ends--> 
    <!--Search tile-->
    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue homebox" onclick="location.href = '@Url.Action("ClientHome", "Building")'">
        <img src="~/img/Search.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:28%; bottom:10%; font-size:150%;">New Client Page</span>
    </div> 
    <!--Search tile ends-->   
</div>
<div class="row ">
   <!--Building tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue homebox" onclick="location.href = '@Url.Action("Index", "Management")'">
        <img src="~/img/building.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:28%; bottom:10%; font-size:150%;">Management</span>
    </div>
    <!--Building tile ends-->
    <!--Home tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightblue homebox">
        <img src="~/img/home.png" style="position:absolute; left:23%; top:12%; width:55%; height:55%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Home</span>        
    </div>
    <!--Home tile ends-->
    <!--Requests tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue homebox" onclick="location.href = '@Url.Action("index", "Dashboard")'">
        <img src="~/img/R.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:30%; bottom:10%; font-size:150%;">Requests</span>
    </div>*@
    <!--Requests tile ends-->
</div>
@*<div class="row ">
    <!--Delivery tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkblue homebox" >
        <img src="~/img/Delivery.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Delivery</span>
    </div>
    <!--Delivery tile ends-->
    <!--Report tile-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height lightdarkblue homebox ">
        <img src="~/img/reports.png" style="position:absolute; left:22%; top:14%; width:55%; height:55%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Reports</span>
    </div>
    <!--Report tile ends-->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 tile_height darkfine homebox">
        <img src="~/img/S.png" style="position:absolute; left:15%; top:8%; width:70%; height:70%;" />
        <span style="position:absolute; left:31%; bottom:10%; font-size:150%;">Settings</span>
    </div>
    
</div>*@

@section scripts
{
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/knockout-3.1.0.js"></script>


    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('.homebox').mouseover(function () {
        //        $(this).css('background', 'white');
        //    });

        //});


        $(function () {


            $('#buildingid').mouseover(function () {
                $('.buildingsearchHome').show();
                $('.buildingsearchHome').focus();
             

            }).mouseout(function () {

                $('.buildingsearchHome').hide();
              
            });

            $('#Tenantid').mouseover(function () {
                $('.TenantsearchHome').show();
                $('.TenantsearchHome').focus();


            }).mouseout(function () {

                $('.TenantsearchHome').hide();
            });
            //viewmodel starts
            var viewModel = function () {




                self = this;




                self.GlobalBresult = ko.observableArray();
                self.GlobalTresult = ko.observableArray();

                self.searchbuildings = ko.observable();
                self.searchTenant = ko.observable();

                self.takemetobuilding = function (data) {

                    var TInfo = JSON.stringify(data);
                    var TenantInfo = JSON.parse(TInfo);
                   
                    window.location.href = "/Building/BuildingProfile?BuildingID=" +TenantInfo.BID;
                };

                self.takemetoAccountmanagement = function () {
                    window.location.href = "/Management/Index/";


                }


                self.takemetoapartment = function (data) {

                    var TInfo = JSON.stringify(data);
                    var TenantInfo = JSON.parse(TInfo);

                    window.location.href = "/building/ApartmentProfile?ApartmentID=" + TenantInfo.AptID + "&BuildingID=" + TenantInfo.BID;
                };
                
                self.searchTenant.subscribe(function (input) {



                    if (input != "") {
                        $('#TenantTilesResultBox').show();

                        $.ajax(
                   {
                       type: "GET",
                       url: '/Home/GlobalTenantSearch/',
                       dataType: "json",
                       data: { SearechTanantGlobal: input },
                       success: function (data) {
                           self.GlobalTresult.removeAll();

                           var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                           //alert(jsonresult);
                           var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                           for (var i = 0; i < TrkPkgs.length; i++) {
                               self.GlobalTresult.push({
                                   FullName: TrkPkgs[i].FullName,
                                   Email: TrkPkgs[i].Email,
                                   Phone: TrkPkgs[i].Phone,
                                   ID: TrkPkgs[i].ID,
                                   AptID: TrkPkgs[i].AptID,
                                   BID: TrkPkgs[i].BID
                               });
                           }
                       }
                   });

                    }
                    else {
                        $('#TenantTilesResultBox').hide();
                        self.GlobalBresult.removeAll();

                    }
                });
                //Global Search Building
                self.searchbuildings.subscribe(function (input) {

                    

                    if (input != "") {
                        $('#BuildingsTilesResultBox').show();

                        $.ajax(
                   {
                       type: "GET",
                       url: '/Home/GlobalSearchBuilding/',
                       dataType: "json",
                       data: {searchGobal:input},
                       success: function (data) {
                           self.GlobalBresult.removeAll();

                           var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                           
                           var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                           for (var i = 0; i < TrkPkgs.length; i++) {
                               self.GlobalBresult.push({
                                   BID:TrkPkgs[i].BID,
                                   BClientID:TrkPkgs[i].BClientID,
                                   BName:TrkPkgs[i].BName,
                                   BAddress:TrkPkgs[i].BAddress,
                                   BCity:TrkPkgs[i].BCity,
                                   BState:TrkPkgs[i].BState,
                                   BZipcode: TrkPkgs[i].BZipcode,
                                   BPhone: TrkPkgs[i].BPhone,
                                   FullAddress: TrkPkgs[i].BAddress,
                                   FullCityStateZip: TrkPkgs[i].BCity + " " + TrkPkgs[i].BState + ", " + TrkPkgs[i].BZipcode
                               });
                           }
                       }
                   });



                

                    }
                    else {
                        $('#BuildingsTilesResultBox').hide();
                        self.GlobalBresult.removeAll();

                    }
                });

            };
            
            ko.applyBindings(viewModel);


        });
       
        

    </script>


}