@model IEnumerable<SecurityMonitor.Models.ApartmentVM>
@using SecurityMonitor.Models;
@{
    ViewBag.Title = "ApartmentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
       var buildinginfo = (BuildingInfoVM)Session["Building"];
   
   }

   
<body >
    
    <div>
        <div class="row" style="height:20px;">
           

        </div>

        <div class="">

            <!--=================Page Title==================-->
            <div class=" row  " style="">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 boxtitle " style="border-bottom:1px solid lightgrey; height:50px;">
                    <div class=" col-lg-1 col-md-1 col-sm-6 col-xs-6 text-right headingfont ">
                        Apartment:
                    </div>
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 text-left headingfont ">@Html.DisplayFor(modelItem => item.ApartmentNumber)</div>
                    }
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 headingfont">Address</div>
                    <div class="col-md-6  col-xs-6 text-left headingfont ">@buildinginfo.Address @buildinginfo.City @buildinginfo.States @buildinginfo.ZipCode</div>
                </div>
            </div>
            <!--=================Page Title ends==================-->
            <!--=================Apartment content==================-->

            <div class=" row  " style=" background:white;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  " >
                    <canvas id="Bargraph" width="800" height="300"  ></canvas> 
                </div>
            </div>

            <!--=================Apartment content ends==================-->

            <!--==================Circles=============================-->
            <div class=" row  " style="padding:20px; border-top:1px solid lightgrey;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CirlceTitle " style=" height:50px; ">

                    <div class="col-lg-3 col-md-3 coll-sm-3 col-xs-3 text-center ">
                        Today Total
                    </div>


                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 coll-sm-3 col-xs-3 text-center ">
                        multi days
                    </div>

                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-md-3 coll-sm-3 col-xs-3 text-center ">
                        pending requests
                    </div>

                </div>
                
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="col-lg-3 col-md-3 coll-sm-3 col-xs-3  text-center " style="padding-left:60px;">
                            <div class="circleRequests">50</div>
                        </div>

                        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 coll-sm-3 col-xs-3  text-center " style="padding-left:60px;">
                            <div class="circleRequests">12</div>
                        </div>

                        <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 coll-sm-3 col-xs-3  text-center " style="padding-left:60px;">
                            <div class="circleRequests">37</div>
                        </div>
                    </div>
                <!--=============Building Info=============================-->
                <div class="col-md-5">

                </div>
                <!--Building Info Ends-->
            </div>
            <!--=======================Circle Ends====================-->
            <!--=================Tenant==================-->
            <!--add tenant-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid lightgrey;">
                @foreach (var item in Model)
                {
                    <button type="button" class="btn btn-default" style="margin:10px;"
                            onclick="location.href = '@Url.Action("AddingTenant", "Building", new { ApartmentID = @item.ID })'">
                        Add Tenant
                    </button>
                }
            </div>
            <div class=" row   " style="">
                @foreach (var item in ViewBag.tenant)
                {
                    <!--========================left side===============================-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12  " style="border-bottom:1px solid lightgrey;background:#C1CDCD; padding-bottom:50px;">
                        <!--========================tenant title===============================-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:80px;">
                            <!--========================Request box===============================-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right " style="height:60px; padding-top:10px;">
                                <button type="button" class="btn btn-default" style="margin:10px;"
                                        onclick="location.href = '@Url.Action("TenantRequest", "Building", new { TenantID = @item.ID })'">
                                    New Request
                                </button>
                            </div>
                        </div>
                        <!--========================tenant contant box===============================-->
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1  " style=" padding-top:20px; padding-bottom:0px; border-radius:20px; background:white;">
                            <!--icon-->
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 " style="height:260px;">
                                <div class=" glyphicon glyphicon-user " style="font-size:40px; padding-top:10px; "></div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  " style="padding-bottom:10px; ">
                                <!--tenant Name -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="height:70px;">
                                    <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7  "><h1> @item.FirstName</h1> </div>
                                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5" style=" padding-top:25px;">
                                        <button type="button" class="btn btn-default "
                                                onclick="location.href = '@Url.Action("DeleteTenant", "Building", new { TenantID = @item.ID })'">
                                            Remove Tenant
                                        </button>
                                    </div>
                                </div>
                                <!--tenan content area-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  " style="padding-bottom:0px;">


                                    <canvas id="doughNutChartLoc@(item.ID)" data-tenantid="@item.ID" class="mygraph" height="100" width="100" ></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>

            <!--=================tenant ends==================-->


                
               
            </div>

        </div>
   

    
</body>

@section scripts
{


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/Chart.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="~/Scripts/HighChart/highcharts.js"></script>
<script src="~/Scripts/HighChart/modules/exporting.js"></script>
   <script type="text/javascript">
    $(document).ready(function (e) {
       
        
       
        //=====================lINE CHARTChart==============================
        
        var data2 = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "#baeac5",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "#baeac5",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                }
            ]
        };

        var options = {

            responsive: true,
            maintainAspectRatio: true
        }
       
        
        var myBar = new Chart(document.getElementById("Bargraph").getContext("2d")).Bar(data2, options);
      
        //=====================Line Chart ends==============================

        //=====================Circle charts for the tenants==============================
        
        var canvascount = document.getElementsByTagName("canvas");
       
        
        for (var i = 1; i <= canvascount.length - 1; i++)
        {   var datachart =[];
        var data_TenantID = canvascount[i].getAttribute("data-tenantid");
       


       
        
           
     
        $.ajax({
            async: false,
            type: "GET",
            data:{TenantID: data_TenantID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "/Building/getRequestsType/",
            success: function(jsonData) {
               
                for(var j=0; j<jsonData.length; j++)
                {
                    //array of colors
                    var colors = ["#0000FF",
                                   "#8A2BE2",
                                   "#6495ED",
                                   "lightblue", 
                                   "lightgreen", 
                                   "orange",
                                   "yellow",
                                   "#32CD32",
                                   "#FF4500", 
                                   "#FF6347",
                                   "#008080",
                                   "#9ACD32",
                                   "#FFE4B5",
                                   "#FFE4E1",
                                   "#0000CD",
                                   "#9370DB",
                                   "#B0C4DE",
                                   "#7FFFD4"
                    ];                
                    var rand = Math.floor(Math.random()*colors.length);
                 
                    //Legend Data[].Key shows type name
                    //Legend: Data[].(type) show the count of the type
                    datachart.push({value:jsonData[j].AccessControl , color: colors[rand],label:  jsonData[j].key});    
                   
                }
                drawmychart(datachart);
             
               
            }
        });




        
      
      



       
          
            function drawmychart(data1){
                var options = { responsive: true }
                var myDoughnut = new Chart(document.getElementById("doughNutChartLoc" + data_TenantID).getContext("2d")).Pie(data1,options);
            }
        };
        //=====================Circle charts for the tenants ends==============================
      
        
    

        


       
      









    });
</script>

}