@model IEnumerable<SecurityMonitor.Models.ApartmentVM>
@using Doormandondemand;
@using SecurityMonitor.Models;
@{
    ViewBag.Title = "ApartmentProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var buildinginfo = (BuildingInfoVM)Session["Building"];
    @Html.Hidden("BuildingID", buildinginfo.BuildingID, new {id="buildingid",@data_BuildingID =buildinginfo.BuildingID })
    @Html.Hidden("AptID", buildinginfo.AptID, new {id="aptid", @data_AptID = buildinginfo.AptID })

}

<!-- Small modal -->



<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content"> 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mail Notification</h4>
            </div>   
            <div class="modal-body">
                <p> 
                    The Mailroom just receive                
                    <span data-bind="text:Packagecount"></span> 
                    package(s) for
                    <span data-bind="text:FName"></span>
                    <span data-bind="text:LName"></span>.
                    The Information about the package(s) is bellow.
                    <span data-bind="foreach: Trackings">
                        <br/>
                       <span>Tacking#: </span> <span data-bind="text:name"></span>
                    </span>                     
                </p>
      </div>
        </div>
    </div>
</div>

<!--========================Top section====================-->
<div class="row " style="height:500px; background-image:url(/img/whiteinterior.jpg); background-size:cover; background-position-y:center;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center hollow3 whity" style=" padding-top:30px; padding-bottom:30px;" 
    onclick="location.href = '@Url.Action("buildingProfile", "Building", new { buildingID = @buildinginfo.BuildingID })'">
        <span style="color:white;">Return To Building</span>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4    " style="padding-top:0px; padding-bottom:0px;">
        <h1 > @buildinginfo.BuildingName</h1>
        <br /><span class="" style="color:white; font-size:20px;">@buildinginfo.Address</span>
        <br /><span class="" style="color:white;">@buildinginfo.City @buildinginfo.States @buildinginfo.ZipCode </span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  " style="height:178px;">

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  " style="padding-top:50px;">
        <button type="button" class="btn btn-default "
                onclick="location.href = '@Url.Action("deleteApartment", "Building", new { ApartmentID = @buildinginfo.ID })'">
            Delete this Apartment
        </button>

        @foreach (var item in Model)
        {

            <button type="button" class="btn btn-default pull-right"
                    onclick="location.href = '@Url.Action("AddingTenant", "Building", new { apartmentID = @item.ID, BuildingID = @buildinginfo.ID })'">
                Add Tenant to this apartment
            </button>
        }
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  whity ">
        @foreach (var item in Model)
        {
            <h1 style="font-size:170px; color:white; ">@Html.DisplayFor(modelItem => item.ApartmentNumber)</h1>
        }
    </div>
</div>

<!--=====================modules====================-->
<div class="row" style="height: 50px;">
    <span id="buildingdeliveryid" class="badge" style="color:white; background:green; margin:10px 0;">1</span>

</div>

<div class="row " style="padding-bottom:40px;">
    <!--=================Tenant==================-->
    <!--add tenant-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid lightgrey;">

    </div>
</div>

@foreach (Tenant item in ViewBag.tenant)
{
    <div class=" row  hollow3  " style="border-bottom:1px solid lightgrey; ">
        <!--tenant information-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height:200px;">

            <div class=" glyphicon glyphicon-user " style="font-size:40px; padding-top:10px; "></div>
            <button type="button" class="btn btn-link "
                    onclick="location.href = '@Url.Action("TenantEdit", "Building", new { TenantID = @item.ID })'">
                Edit
            </button>
            <br />
            <h4>@item.FirstName @item.LastName</h4><br />
            <div class="" style="position:relative; top:-15px;">
                Phone: @item.Phone <br />
                Created on @item.Created
                <br />


                <button type="button" class="btn btn-link " style="margin-left:-10px;"
                        onclick="location.href = '@Url.Action("TenantDelete", "Building", new { TenantID = @item.ID })'">
                    Remove this Tenant
                </button>
            </div>
        </div>
        <!--advance options-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="height:160px;">



            <button type="button" class="btn btn-link" style="margin:9px;"
                    onclick="location.href = '@Url.Action("TenantRequest", "Building", new { TenantID = @item.ID, BuildingID = @buildinginfo.BuildingID,  })'">
                New Access Request
            </button>
            <br />
            <button id="deliveryid" type="button" class="btn btn-link deliveryclass" style="margin:9px;" data-bind="click:ShowDeliveryFunc" data-showdeliverykey=@item.ID>
                Deliveries
            </button>
            <br />
            <button type="button" class="btn btn-link" style="margin:9px;"
                    onclick="location.href = '@Url.Action("TenantMessegeCenterIndex", "Building", new { TenantID = @item.ID })'">
                Message Center
            </button>
            <br />
            <button type="button" class="btn btn-link" style="margin:9px;"
                    onclick="location.href = '@Url.Action("RequestHistoryIndex", "Building", new { TenantID = @item.ID })'">
                History
            </button>


        </div>
        <!--this section is for packages/ deliveries -->
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " data-bind="fadeVisible:ShowDelivery" data-ShowDeliveryKey=@item.ID>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button type="button" class="btn btn-link showdelivery" style="margin:9px;" data-bind="click:HideDeliveryFunc" data-hidedeliverykey=@item.ID>
                        Hide Delivery list
                    </button>
                </div>
            </div>

            <div class="row scrollable" data-bind="foreach: TrackingNumbers" style="height:200px;  border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">
                <div class="col-md-12 hollow2" style="height:30px; padding:20px 0; border-top:1px solid lightgrey; border-bottom:1px solid lightgrey;">
                    <span class="col-md-6 " data-bind="text:pkgsTrks"></span> <span class="col-md-6 " data-bind="text:ArrivalDate"></span>
                </div>
            </div>

        </div>

            <!--========================Request box===============================-->
            @*<canvas id="doughNutChartLoc@(item.ID)" data-tenantid="@item.ID" class="mygraph" height="100" width="100" ></canvas>*@
        </div>
}

<!--=================tenant ends==================-->
 
@section scripts
{
     


  
<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/knockout-3.1.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/jquery.signalR2.1.2.min.js"></script>

<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>

    @*<script src="~/Scripts/Chart.min.js"></script>*@
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@
@*<script src="~/Scripts/HighChart/highcharts.js"></script>
<script src="~/Scripts/HighChart/modules/exporting.js"></script>*@
   <script type="text/javascript">
    $(document).ready(function (e) {




        var viewModel = function () {

            var self = this;

            self.DeliveryData = ko.observable();
            self.Packagecount = ko.observable();
            self.FName = ko.observable();
            self.LName = ko.observable();
            self.Phone = ko.observable();
            self.Trackings = ko.observableArray();
            self.TrackingNumbers = ko.observableArray();
            self.ShowDelivery = ko.observable(false);

            self.ShowDeliveryFunc = function (item, event) {
                //var elementkey =$(event.target).prop('data-ShowDeliveryKey');
                //alert(elementkey);

                self.ShowDelivery(true);
                return true;
            };
            self.HideDeliveryFunc = function () {
                self.ShowDelivery(false);
                return false;
            };


            $(function () {
                // Reference the auto-generated proxy for the hub.
                //Notification
                var Notification = $.connection.notificationsHub;

                // Create a function that the hub can call back to display messages.
                Notification.client.incomingPackageNotification = function (BuildingID, ApartmentID, jsonObj, Jsonpackages, TrackingCount)
                {
                    //incoming here

                    var jsonresult = JSON.stringify(jsonObj.Data);// Json.stringify make an object into a json string
                    var ReceiveCleanobj = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                    var pkgsTrk = JSON.stringify(Jsonpackages.Data);//Json.stringify make an object into a json string
                    var pkgsTrks = JSON.parse(pkgsTrk);  //JSON.parse makes a json string into a json object example obj.FirstName


                    var packagesCount = ReceiveCleanobj.Packages.length;
                    var undeliveredPackagescount = TrackingCount;
                    var CurrentBuildingID = $('#buildingid').attr('data-BuildingID');
                    var CurrentAptID = $('#aptid').attr('data-AptID');

                    // testing Data
                    console.log("current building id is: " + CurrentBuildingID);
                    console.log("current building id is: " + CurrentAptID);
                    console.log(" ");
                    console.log("ConnectionID, Receive from other client" + $.connection.hub.id);
                    console.log("For BuildingID: " + BuildingID + " and ApartmentID: " + ApartmentID);
                    if (CurrentBuildingID == BuildingID && CurrentAptID == ApartmentID)
                    {
                        self.FName(ReceiveCleanobj.FirstName);
                        self.LName(ReceiveCleanobj.LastName);
                        self.Phone(ReceiveCleanobj.Phone);

                        //display 10 packages Tracking and arrival date
                        for (var i = 0; i < Jsonpackages.Data.length; i++)
                        {

                            self.TrackingNumbers.push({ pkgsTrks: pkgsTrks[i].TrackingNumber, ArrivalDate: pkgsTrks[i].ArrivalTime });
                        }

                        //this is the latest package that just arrived
                        for (var i = 0; i < packagesCount; i++)
                        {
                            self.Trackings.push({ name: ReceiveCleanobj.Packages[i].Trackingnumber });
                        };

                        self.Packagecount(packagesCount);
                        $('.modal').modal('show');
                        console.log("A package just arrived for this apartment!");
                        console.log("FirstName: " + ReceiveCleanobj.FirstName);
                        console.log("LastName: " + ReceiveCleanobj.LastName);
                        console.log("Phone: " + ReceiveCleanobj.Phone);
                        console.log("ApartmentNumber: " + ReceiveCleanobj.ApartmentNumber);
                        console.log("UserID: " + ReceiveCleanobj.UserID);
                        console.log("BuildingID: " + ReceiveCleanobj.BuildingID);
                        console.log("ApartmentID: " + ReceiveCleanobj.ApartmentID);
                        console.log("BuildingID: " + ReceiveCleanobj.BuildingID);
                        console.log("Address: " + ReceiveCleanobj.Address);
                        console.log("City: " + ReceiveCleanobj.City);
                        console.log("State: " + ReceiveCleanobj.State);
                        console.log("City: " + ReceiveCleanobj.City);
                        console.log("Zipcode: " + ReceiveCleanobj.Zipcode);
                        console.log("UserID: " + ReceiveCleanobj.UserID);
                        console.log("isNewUser: " + ReceiveCleanobj.isNewUser);
                        console.log("Package Count: " + packagesCount);
                        for (var i = 0; i < packagesCount; i++)
                        {
                            console.log("Tracking#: " + ReceiveCleanobj.Packages[i].Trackingnumber);
                        }
                    }
                };
                // Start the connection.outgoing here
                $.connection.hub.start().done(function () { console.log("connected, Connection ID: " + $.connection.hub.id) });
                //reconnect after disconect
                $.connection.hub.disconnected(function () {
                    setTimeout(function () {
                        $.connection.hub.start();
                    }, 5000); // Restart connection after 5 seconds.
                });
            });
            // Here's a custom Knockout binding that makes elements shown/hidden via jQuery's fadeIn()/fadeOut() methods
            // Could be stored in a separate utility library
            ko.bindingHandlers.fadeVisible = {
                init: function (element, valueAccessor) {
                    // Initially set the element to be instantly visible/hidden depending on the value
                    var value = valueAccessor();
                   
                    $(element).toggle(ko.unwrap(value)); // Use "unwrapObservable" so we can handle values that may or may not be observable
                },
                update: function (element, valueAccessor) {
                    // Whenever the value subsequently changes, slowly fade the element in or out
                    var value = valueAccessor();
                    //show element
                    $('.deliveryclass').on('click', function () {
                            if ($(element).attr('data-ShowDeliveryKey') == $(this).attr('data-ShowDeliveryKey')) {
                                ko.unwrap(value) ? $(element).slideDown() : $(element).slideUp()
                            }});
                    //hide element
                    $('.showdelivery').on('click', function () {
                        if ($(element).attr('data-ShowDeliveryKey') == $(this).attr('data-hidedeliverykey')) {
                           false ? $(element).slideDown() : $(element).slideUp()
                        } });
                }   
            };

        };

        ko.applyBindings(viewModel);


    });
</script>

}