@model IEnumerable<SecurityMonitor.Models.BuildingInfoVM>

@{
    ViewBag.Title = "BuildingIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row " style="border:none; background:white; ">
    <h4 class=" pull-right" style="padding-top:0px; padding-bottom:20px;color:#808080; ">
        @Html.ActionLink("Add New Location", "AddBuilding", new { ClientID = (int)ViewBag.ClientID })
    </h4>
</div>
<div class="row ">
    <div class=" col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6 myborder" style="padding-top:5px; padding-bottom:5px; background:lightgrey;">
        Properties
    </div>
</div>
<div class="row " > 

    <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6   scrollable "
         style="height:300px;">
        @foreach (var item in Model)
        {
            <div class="row" style="padding-top:5px;">
                <div class=" col-lg-9 col-md-9 col-sm-9 hollow3 myborder tablebk" style="padding-top:5px; padding-bottom:5px;"
                     onclick="location.href = '@Url.Action("BuildingProfile", "Building", new {BuildingID = item.ID})'">
                    @Html.DisplayFor(modelItem => item.BuildingName)
                    @Html.DisplayFor(modelItem => item.Address)
                    @Html.DisplayFor(modelItem => item.City)
                    @Html.DisplayFor(modelItem => item.States)
                    @Html.DisplayFor(modelItem => item.ZipCode)

                </div>

                <div class="pull-right myborder col-lg-3 col-md-3 col-sm-3 tablebk1 " style="padding-top:5px; padding-bottom:5px;">
                    @Html.ActionLink("Edit", "BuildingEdit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "BuildingDelete", new { id = item.ID, ClientID = item.ClientID })
                </div>
            </div>


            @Html.HiddenFor(c => item.ClientID)
        }
    </div>
</div>