@model IEnumerable<SecurityMonitor.Models.ClientsVM>
@using SecurityMonitor.Models;
@{
    ViewBag.Title = "ClientIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>ClientIndex</h2>

<p>
    @Html.ActionLink("Add a new client", "AddClient")
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingCount)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
    <tr>
        <td>
            <button type="button" 
                    class="btn btn-link" 
                    onclick="location.href = '@Url.Action("BuildingIndex", "Building", new {ClientID = item.ID })'">
                    @Html.DisplayFor(modelItem => item.ClientName)
            </button>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}*@

@*</table>*@

<!--main layout for this page-->
<div class="row">
    <!--visible on sm xs-->
    

        @using (Html.BeginForm())
        {
            <div class="hidden-md hidden-lg visible-sm visible-xs col-sm-12 col-xs-12    lightblue " style="min-height:250px;">

                <div class="col-sm-6 col-xs-6 "><h5>Client's Name</h5></div>
                <div class="col-sm-6 col-xs-6 "><h5>Client's Address</h5></div>
                <div class="col-sm-6 col-xs-6 ">

                    @Html.TextBox("ClientName", null, new { @class = "form-control ClientName " })
                </div>
                <div class="col-sm-6 col-xs-6">@Html.TextBox("ClientAddress", null, new { @class = "form-control " })</div>

                <h5 class="col-sm-6 col-xs-6">City</h5>
                <h5 class="col-sm-6 col-xs-6">State</h5>
                <div class="col-sm-6 col-xs-6">  @Html.TextBox("ClientCity", null, new { @class = "form-control " })</div>
                <div class="col-sm-6 col-xs-6"> @Html.TextBox("ClientState", null, new { @class = "form-control " })</div>


                <h5 class="col-sm-6 col-xs-6">Zipcode</h5>
                <h5 class="col-sm-6 col-xs-6">Phone</h5>
                <div class="col-sm-6 col-xs-6"> @Html.TextBox("ClientZipcode", null, new { @class = "form-control " })</div>
                <div class="col-sm-6 col-xs-6"> @Html.TextBox("ClientPhone", null, new { @class = "form-control " })</div>


               

            </div>
    <div class="visible-sm visible-xs hidden-lg hidden-md col-sm-12 col-xs-12 lightblue center" style="padding-bottom:20px;
padding-top:10px; padding-left:30%;">
        <input type="submit" value="Add new Client" class="form-control AddClient" style="width:60%;" />
    </div>
        }
   

    <!--visible on md lg-->
    <div class="hidden-xs hidden-sm visible-md visible-lg col-md-2 col-lg-2  tile_height lightblue text-center" style="min-height:100%;">
        @using(Html.BeginForm()){
            <br/>
            <h5>Client's Name</h5>
             @Html.TextBox("ClientName", null, new { @class = "form-control ClientName" })
            <hr/>
            <h5>Client's Address</h5>
             @Html.TextBox("ClientAddress", null, new { @class = "form-control" })
             <hr/>
            <h5>City</h5>
             @Html.TextBox("ClientCity", null, new { @class = "form-control" })
             <hr/>
            <h5>State</h5>
             @Html.TextBox("ClientState", null, new { @class = "form-control" })
             <hr/>
            <h5>Zipcode</h5>
             @Html.TextBox("ClientZipcode", null, new { @class = "form-control" })
             <hr/>
            <h5>Phone</h5>
             @Html.TextBox("ClientPhone", null, new { @class = "form-control" })
             <hr/>

    <input class="btn form-control AddClient" type="submit" value="Submit" />
        }
    </div>

    @foreach(var item in Model){
   
    <!--always visible main content -->
    <figure class=" col-lg-6 col-md-6 col-sm-8 col-xs-8  hollow lightblue " style="padding-bottom:0px;">
        <!--title or information-->
        <div id="myswipe" class="col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
            <h4 style="position:absolute; top:30%; left:10%; ">@item.ClientName</h4>
            <!--*****************************-->
            <!--*****************************-->
        </div>
        <figcaption class="col-md-8 col-md-offset-5 col-sm-8 col-sm-offset-5 " style="padding-right:20px;">

            Client Name: @item.ClientName
            <br />
            More info here...


        </figcaption>
    </figure>
            <!--edit-->
       <div class="col-md-2 col-sm-2 col-xs-2 text-center  hollow lightdarkblue " style="padding-bottom:100px;">
           <!--img edit-->
           <img src="~/img/edit.png" class="visible-lg visible-md hidden-sm hidden-xs"
                 style="position:absolute; left:42%; top:10%; height:25%; width:15%;" />
           
           <img src="~/img/edit.png" class="visible-sm visible-xs hidden-lg hidden-md"
                style="position:absolute; left:42%; top:10%; height:25%; width:25%;" />
           
           <!--text edit-->
           <h4 class="visible-lg visible-md hidden-sm hidden-xs" style="position:absolute; left:40%; top:38%;">Edit</h4>
           <h4 class="visible-sm visible-xs hidden-lg hidden-md" style="position:absolute; left:30%; top:38%;">Edit</h4>
       </div>
       <!--trash-->
       <div class="col-md-2 col-sm-2 col-xs-2 text-center pull-right hollow darkblue " style=" padding-bottom:100px;">
          <!--img trash-->
            <img src="~/img/trash.png" class="visible-lg visible-md hidden-sm hidden-xs" style=" position:absolute; left:42%; top:10%; height:25%; width:15%;" />
           <img src="~/img/trash.png" class="visible-sm visible-xs hidden-lg hidden-md" style=" position:absolute; left:42%; top:10%; height:25%; width:25%;" />
         <!--text Trash-->
           <h4 class="visible-lg visible-md hidden-sm hidden-xs" style="position:absolute; left:40%; top:38%;">Trash</h4>
           <h4 class="visible-sm visible-xs hidden-lg hidden-md" style="position:absolute; left:25%; top:38%;">Trash</h4>
       </div>

   
    }

</div>

@section scripts{
    
<script src="~/Scripts/jquery-2.1.1.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

           
                $('.ClientName').val('');

            //swipe
                $('#myswipe').on("swipeleft", function () {
                    alert('it works');
                }
                );
                

        });
    </script>
    }

