@model SecurityMonitor.Models.TenantVM

@{
    ViewBag.Title = "DeleteTenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteTenant</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TenantVM</h4>
    <hr />
    <dl class="dl-horizontal">
       
            @Html.HiddenFor(model => model.UserID)
        

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
               
        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>
        
       
            @Html.HiddenFor(model => model.aptID)
        

    </dl>

    @using (Html.BeginForm(new { removeTenantID = (int)ViewBag.tenantID, ApartmentID = (int)ViewBag.aptID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteTenant" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
