@model SecurityMonitor.Models.EntityFrameworkFL.Clients

@{
    ViewBag.Title = "EditClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        
          
           <div class="row lightblue" style="padding-top:50px; padding-bottom:500px;">
               <div class="text-center" style="padding-bottom:30px;">

                   <h1>Review and Edit</h1>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " style=" padding-left:200px; padding-top:50px; padding-bottom:50px;">
                   @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
               </div>


               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  " style=" padding-left:100px; padding-top:50px; padding-bottom:50px;">
                   @Html.EditorFor(model => model.BuildingCount, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.BuildingCount, "", new { @class = "text-danger" })
               </div>

               <button type="submit" class=" col-lg-6 col-md-6 col-sm-12 col-xs-12 lightdarkblue delete_question_client text-center hollow1 " style="padding-top:20px;">
                   <h1>Save</h1>
               </button>
               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 lightdarkblue delete_question_client text-center hollow1 " style="padding-top:50px;"
                    onclick="location.href = '@Url.Action("ClientIndex", "Building")'">
                   <h1>Cancel</h1>
               </div>
           </div>
        
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
