@model IEnumerable<SecurityMonitor.Models.EntityFrameworkFL.Requests>

@{
    ViewBag.Title = "RequestHistoryIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @foreach (var item in Model)
    {
        <div class="row hollow4 RequestHIndexRow">
            <div class="col-md-2 RequestHIndex">
                <h4 class="underlineclass">Request Type:</h4> @Html.DisplayFor(modelItem => item.RequestType)
            </div>
            <div class="col-md-2 RequestHIndex">
                <h4 class="underlineclass">Start Time:</h4> @Html.DisplayFor(modelItem => item.FromDate)
            </div>
            <div class="col-md-2 RequestHIndex">
                <h4 class="underlineclass">End Time:</h4> @Html.DisplayFor(modelItem => item.ToDate)
            </div>
            <div class="col-md-2 RequestHIndex">
                <h4 class="underlineclass">Secret PIN:</h4> @Html.DisplayFor(modelItem => item.PIN)
            </div>
            <div class="col-md-4 RequestHIndex">
                <h4 class="underlineclass">Name:</h4> <a href="@Url.Action("ApartmentProfile", "Building", new { ApartmentID = item.Tenant.Apartment.ID, BuildingID = item.Tenant.Apartment.BuildingID })">@Html.DisplayFor(modelItem => item.Tenant.FirstName) @Html.DisplayFor(modelItem => item.Tenant.LastName)</a>

            </div>


            <div class="col-md-10 RequestHIndex">
                <h4 class="underlineclass">Description:</h4> @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="col-md-2 pull-right RequestHIndex">
                <h4 class="underlineclass">Settings:</h4>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @Html.ActionLink("Delete", "RequestdeleteHistory", new { RequestID = item.ID })
            </div>
        </div>
    }


