@model SecurityMonitor.Models.RepairVM

@{
    ViewBag.Title = "Repair";
    Layout = "~/Views/Shared/_LayoutTenant .cshtml";
}


<!--Request Form-->
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           
                <div class="">

                    <div class="col-lg-12 colmd-12  repairrequestformheader text-center ">
                        <h6 class="modal-title myModalLabel " style="color:white; ">
                            New Repair Request
                        </h6>

                    </div>

              


            </div>
            <div class="modal-body lightgrey">
                <div class="col-lg-12 col-md-12 ">
                    <div class="col-lg-12 col-md-12  squarearoundform">
                        <div class="col-lg-6 col-md-6 nopadding displayinline rformrowheight padding20px ">
                            <span class="displayinline">Request</span>
                            <div >@Html.DropDownList("Categories", @Model.RequestCategories, "Select Category", new { @class = "displayinline form-control", @data_bind = "value:Category", })</div>
                            @*<span data-bind="text:Category">oio</span>*@
                        </div>

                        <div class="col-lg-6 col-md-6 nopadding rformrowheight padding20px">
                            <span class="displayinline">
                                Ugency:
                                <span class="padding-left20px">
                                    <span class="backgroubdlightgrey;">
                                        High @Html.RadioButton("rbtnHighlowl", "1", false, new { @class = "displayinline ", data_bind = "checked:Urgency" })
                                    </span>
                                    <span class="backgroubdlightgrey;">
                                        Low @Html.RadioButton("rbtnHighlow", "2", false, new { @class = "displayinline ", data_bind = "checked:Urgency" })
                                    </span>
                                </span>
                            </span>
                            @*<span data-bind="text:Urgency">oio</span>*@
                        </div>
                        <div class="col-lg-12 col-md-12 nopadding rformrowheight1 ">
                            <div class="col-lg-6 col-md-6 nopadding rformrowheight1 padding30px">
                                Contact(s) Information<br />

                            </div>
                            <div class="col-lg-6 col-md-6 nopadding rformrowheight1 padding30px">
                                <button class="btn btn-default btn-sm" id="primaryid">Primary contact</button>
                                <button class="btn btn-default btn-sm" id="contactotherid">Add a secondary contact</button>
                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12 nopadding border-bottomcust" id="primaryinfomation">
                            <div class="col-lg-2 col-md-2 othercontactinforowh text-left">
                                Primary:
                            </div>
                            <div class="col-lg-3 col-md-3 othercontactinforowh text-left">
                                Name: @Model.tenant.FirstName @Model.tenant.LastName
                            </div>
                            <div class="col-lg-3 col-md-3 othercontactinforowh  text-left">
                                Phone: @Model.tenant.Phone
                            </div>
                            <div class="col-lg-4 col-md-4 othercontactinforowh  text-left">
                                Email: @Model.tenant.Username
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 nopadding rformrowheight  blueDefault othercontactinfo ">

                            <div class="col-lg-4 col-md-4 othercontactinforowh text-center">
                                <span class="displayinline "> Full Name:</span> @Html.TextBox("OtherContactName", null, new { @Placeholder = "Enter Full Name", @class = "form-control displayinline input-sm ", Data_bind = "value:OtherContactName,valueUpdate:'afterkeydown'" })
                            </div>
                            <div class="col-lg-4 col-md-4 othercontactinforowh text-center">
                                <span class="displayinline">Phone</span>: @Html.TextBox("OtherContactPhone", null, new { @Placeholder = "345.898.0099", @class = "form-control displayinline input-sm", Data_bind = "value:OtherContactPhone,valueUpdate:'afterkeydown'" })

                            </div>
                            <div class="col-lg-4 col-md-4 othercontactinforowh text-center">
                                <span class="displayinline">Email</span>: @Html.TextBox("OtherContactEmail", null, new { @Placeholder = "Example@mail.com (Optional)", @class = "form-control displayinline input-sm", Data_bind = "value:OtherContactEmail,valueUpdate:'afterkeydown'" })

                            </div>

                        </div>



                        <div class="col-lg-6 col-md-6 nopadding rformrowheight padding20px">
                            <span class="">
                                Permission to Enter:
                                <span class="padding-left20px">
                                    Yes @Html.RadioButton("permissionr", "Yes", false, new { data_bind = "checked:permission" })
                                    Schedule @Html.RadioButton("permissionr", "No", false, new { data_bind = "checked:permission" })
                                </span>
                            </span>

                        </div>
                        <div class="col-lg-6 col-md-6 nopadding rformrowheight  padding20px">
                            <span class="btn btn-default btn-file btn-sm">Attach Photo: <input type="file" name="file" /></span><span data-bind="text:fileName"></span>

                        </div>

                        <div class="col-lg-12 col-md-12 nopadding padding20px">
                            <span>Enter Instructions: @Html.TextArea("instructions", new { @class = " rrform form-control", @cols = 300, @rows = 2, data_bind = "value:Instruction, valueUpdate:'afterkeydown'" })</span>

                        </div>
                        <div class="col-lg-12 col-md-12 nopadding padding20px">
                            <span>Problem Description: @Html.TextArea("Description", new { @class = " rrform form-control", rows = 8, data_bind = "value:Description, valueUpdate:'afterkeydown'" })</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>

                <button class="btn btn-info " type="button" data-dismiss="modal" data-bind="click:SendRequest">Send Request</button>
            </div>
        </div>
    </div>
</div>

<!--Request Form-->
<!--Request Form-->
<div class="modal fade" id="myModalpreviewrequest" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header nopadding " id="modalheaderpreviewid">
                <div class="">

                    <div class="col-lg-12 colmd-12  repairrequestformheader text-center ">
                        <h6 class="modal-title myModalLabel " style="color:white; ">
                            Additional Notes
                        </h6>
                        <span class="fa fa-edit fa-2x font_color_lightblue pull-right displayinline padding-right_20px hollow3" id="editid" data-bind="click:edit, visible:EditButtonVisibility"></span>

                    </div>

                </div>
                
                
                
                
             
              
            </div>
            <div class="modal-body  mymodalclass ">
                <div class="col-lg-12 col-md-12">
                    @Html.Hidden("dd", "0", new { @data_bind = "text:currentID" })
                    <div class="col-lg-12 col-md-12 nopadding previewcontentrow">
                        <div class="col-lg-4 col-md-4 text-center ">
                            <h6>Requested Date:</h6>
                            <span data-bind="text:selectedDate"></span>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center">
                            <h6>Category:</h6>
                            <span data-bind="text:selectedCategory"></span>

                            <span>
                                <br />@Html.DropDownList("Categories",
                        @Model.RequestCategories, "Select Category",
                        new
                        {
                            @class = "displayinline form-control input-sm",
                            data_bind = "value:UpdateCatetegory,visible:letsee",
                            @style = "background:lightblue;"
                        })
                            </span>


                        </div>

                        <div class="col-lg-4 col-md-4 text-center">
                            <h6>Status:</h6>
                            <span data-bind="text:selectedStatus"></span>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 nopadding previewcontentrow">
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6>Instruction:</h6>
                            <span data-bind="text:selectedInstruction"></span>

                            <span>
                                <br />@Html.TextArea("instructions",
                        new
                        {
                            @class = " rrform form-control",
                            @cols = 300,
                            @rows = 1,
                            data_bind = "value:UpdateInstrutions, valueUpdate:'afterkeydown',visible:letsee",
                            @style = "background:lightblue;"
                        })
                            </span>

                        </div>
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6>Urgency:</h6>
                            <span data-bind="text:selectedUrgency"></span>

                            <span class="" style="background:lightblue;" data-bind="visible:letsee">
                                <br />
                                <span class="backgroubdlightgrey;">
                                    High @Html.RadioButton("rbtnHighlow", "1", false, new { @class = "displayinline ", data_bind = "checked:UpdateUrgency" })
                                </span>
                                <span class="backgroubdlightgrey;">
                                    Low @Html.RadioButton("rbtnHighlow", "2", false, new { @class = "displayinline ", data_bind = "checked:UpdateUrgency" })
                                </span>
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6>Permission:</h6>
                            <span data-bind="text:selectedPermission "></span>
                            <br />
                            <span class="padding-left20px" style="background:lightblue;" data-bind="visible:letsee">
                                Yes @Html.RadioButton("permissionr", "Yes", false, new { data_bind = "checked:UpdatePermission" })
                                Schedule @Html.RadioButton("permissionr", "No", false, new { data_bind = "checked:UpdatePermission" })
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 border-bottomcust repairproblemsettings">
                        <h6> Problem:</h6>
                        <span class="problempadding" data-bind="text:selectedDescription"></span>

                        <span data-bind="visible:letsee">
                            <br />@Html.TextArea("Description",
                    new
                    {
                        @class = " rrform form-control",
                        rows = 2,
                        data_bind = "value:UpdateProblem, valueUpdate:'afterkeydown'",
                        @style = "background:lightblue;"
                    })
                        </span>

                        <br />

                    </div>



                    <div class="col-lg-12 col-md-12 nopadding previewcontentrow   ">
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6> Primary Name:</h6>
                            <span data-bind="text:selectedPrimaryName"></span>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6> Primary Phone:</h6>
                            <span data-bind="text:selectedPrimaryPhone"></span>
                        </div>
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6>Primary Email:</h6>
                            <span data-bind="text:selectedPrimaryEmail"></span>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 nopadding previewcontentrow ">
                        <div class="col-lg-4 col-md-4 text-center  previewcontentrow">
                            <h6> Secondary Name:</h6>
                            <span data-bind="text:selectedSecondaryName"></span>
                            @Html.TextBox("OtherContactName", null,
                        new
                        {
                            @Placeholder = "Enter Full Name",
                            @class = "form-control displayinline input-sm ",
                            Data_bind = "value:UpdateSName,valueUpdate:'afterkeydown', visible:letsee",
                            @style = "background:lightblue;"
                        })
                        </div>
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6> Secondary Phone:</h6>
                            <span data-bind="text:selectedSecondaryPhone"></span>
                            @Html.TextBox("OtherContactPhone", null,
                        new
                        {
                            @Placeholder = "345.898.0099",
                            @class = "form-control displayinline input-sm",
                            Data_bind = "value:UpdateSPhone,valueUpdate:'afterkeydown', visible:letsee",
                            @style = "background:lightblue;"
                        })
                        </div>
                        <div class="col-lg-4 col-md-4 text-center previewcontentrow">
                            <h6>Secondary Email:</h6>
                            <span data-bind="text:selectedSecondaryEmail"></span>
                            <span>
                                @Html.TextBox("OtherContactEmail", null,
                        new
                        {
                            @Placeholder = "Example@mail.com (Optional)",
                            @class = "form-control displayinline input-sm",
                            Data_bind = "value:UpdateSEmail,valueUpdate:'afterkeydown', visible:letsee",
                            @style = "background:lightblue;"
                        })
                            </span>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12  previewcontentrowimgurl">
                        Image:
                        <span data-bind="text:selectedimgUrl"></span>
                    </div>
                    <div class="col-lg-12 col-md-12 " data-bind="visible:letsee">
                       
                        <button type="button" class="btn btn-default input-sm pull-right btn-info" data-bind="click:previewcancel" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-default input-sm pull-right btn-info" data-bind="click:Update" data-dismiss="modal">Update Changes</button>
                    </div>



                </div>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<!--Request Form-->










<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       
    </div>
    <div class="col-lg-12 col-md-12 text-center  repairheading">
        <h1 style="color:white;"> Repair Page</h1>
        <div class="glyphicon glyphicon-arrow-left  backarrowrepairrequest" id="backarrowid"> </div>
    </div>
    
</div>


@*<div class="row ">

    <div class="box">
        <div class="container-4 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding ">
            <input type="search" id="search" class=" form-control input-xs" placeholder="Start Typing..." data-bind="value:KeydownSearh, valueUpdate:'afterkeydown'" />
           
            <hr />
            <br />
        </div>

    </div>
</div>*@

<div class="row repairheight">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insiderBox" >
        <div class="container-4 col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding " id="searchboxtenantrepair" style="border-bottom:1px solid #e4e4e4;    ">
            <input type="search" id="search" class=" form-control input-xs" placeholder="Start Typing..." data-bind="value:KeydownSearh, valueUpdate:'afterkeydown'" />

            <hr />
            <br />
        </div>



        <div class="col-lg-12 col-md-12  requestlogbox nopadding">
            <sdiv class="col-lg-6 col-md-6 text-right headingopenerequests " id="three-icon">


            </sdiv>
            <sdiv class="col-lg-6 col-md-6 text-center headingopenerequests headingopenerequests-right  " id="three-icon">

                @*<button id="repairsearchloop" class="btn btn-link pull-right displayinline OpenRequestsSettings fa fa-search fa-3x"></button>*@
                @*<button class="btn btn-link pull-right displayinline OpenRequestsSettings fa fa-cog fa-3x"></button>*@
                <button class="btn btn-info x displayinline openrequestssettings " id="hitme" data-toggle="modal" data-target="#myModal">Add New Request</button>
                <button class="btn btn-info x displayinline openrequestssettings " id="" data-toggle="modal" data-target="#ClosedTickets" data-bind="click:loadclosedTickets">View Closed Requests</button>
            </sdiv>
            <div class="col-lg-12 col-md-12  nopadding Openrequestheader blueDefault">
                <span class="col-lg-2 text-center OpenRequestCollunm col-md-2 ">Date</span>
                <span class="col-lg-2 text-center OpenRequestCollunm col-md-2 ">Request#</span>
                <span class="col-lg-6 text-center OpenRequestCollunm col-md-4 ">Repair Request</span>
                <span class="col-lg-2 text-center OpenRequestCollunm col-md-2 ">Status</span>
            </div>

            <div class="nopadding col-lg-12 col-md-12  " data-bind="foreach:request ">
                <div class="col-lg-12 col-md-12  nopadding  requestmanagementrows hollow5 hvr-underline-from-center" data-toggle="modal" data-target="#myModalpreviewrequest" data-bind="click:openinmodal, attr:{'data-rowkey':ID}">
                    <span class="col-lg-2 text-center OpenRequestCollunm-content col-md-2 requestsrow  " data-bind=" text:rDate, attr:{'data-rowkey':ID}"></span>
                    <span class="col-lg-2 text-center  OpenRequestCollunm-content col-md-2 requestsrow " data-bind="text:RequestNumber, attr:{'data-rowkey':ID}"></span>
                    <span class="col-lg-6 text-left  OpenRequestCollunm-content col-md-4 requestsrow " data-bind="text:Description, attr:{'data-rowkey':ID}"></span>
                    <span class="col-lg-2 text-center  OpenRequestCollunm-content col-md-2 requestsrow " data-bind="text:Status, attr:{'data-rowkey':ID}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ClosedTickets" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="">
                <div class="col-lg-12 colmd-12  repairrequestformheader text-center ">
                    <h6 class="modal-title myModalLabel " style="color:white; ">
                        Closed Repair Requests
                    </h6>

                </div>

            </div>
            <div class="modal-body ">

              

                <div class="col-lg-12 cl-md-12 col-sm-12 col-xs-12 " data-bind="foreach:CloseTickets ">

                    <section style="margin:5px 0 5px 0;">
                        <!--vCard starts-->
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12  paddingBottom20px nopadding">
                            <!--header starts-->
                            <section class=" col-md-12 text-center clientboxrow  " @*onclick="location.href = '#handlerid'" data-bind="click:assignCompany"*@>
                                <section class=" boxheadassign hollow5 col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding hvr-underline-from-left">
                                    <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <!--logo-->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding  ">
                                            <h4><span class=" ContratorRowContentHeader col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" data-bind="text:PEmail"></span></h4>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nopadding  boxinnerboxSCBuilding fa fa-building fa-5x" id="contractorbuildingid">

                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10  boxinnerboxSC">

                                            <span data-bind="text:CName" class="ContratorRowContent col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding"></span>
                                            <span class="ContratorRowContent col-lg-3 col-md-3 col-sm-3 col-xs-3">Category:</span> <span data-bind="text:Category" class="ContratorRowContent col-lg-9 col-md-9 col-sm-9 col-xs-9 nopadding"></span>
                                            <span class="ContratorRowContent col-lg-3 col-md-3 col-sm-3 col-xs-3"> Request#:</span> <span data-bind="text:RequestNumber" class="ContratorRowContent col-lg-9 col-md-9 col-sm-9 col-xs-9 nopadding"></span>
                                            


                                            </div>
                                        </div>
                                </section>
                            </section>
                        </div>
                    </section>



                    @*<div class="col-lg-12 cl-md-12 col-sm-12 col-xs-12 contractorRow hollow5" >


                        </div>*@
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal" @*data-bind="click:removelink"*@>Close</button>

            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/jquery.signalR2.1.2.min.js"></script>

<link href="~/Content/hover.css" rel="stylesheet" />
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>


    <script type="text/javascript">
        $(function () {
        
            $('#backarrowid').on('click', function(){
                window.location.href="/tenants/TenantProfile?UserID=@Model.TenantID";
            });


        $('#repairsearchloop').on("click", function () {
            $('.instructionrepairbox').fadeToggle();
            $('#three-icon').fadeToggle();
            setTimeout(function () { $('.searchrepair').slideToggle(); }, 600);
        });

        $(document).ready(function () {
            $('.requestsrow').on("click", function () {
                alert("int");
                //var ID = $(this).attr('data-rowkey');
                //alert('key: ' + ID);
            });

        });

        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });


        $('#contactotherid').on('click', function () {
            $('.othercontactinfo').slideToggle();
            $('#contactotherid').toggleClass("btn-default");
            $('#contactotherid').toggleClass("btn-primary");
        });

        $('#primaryid').on('click', function () {
            $('#primaryinfomation').slideToggle();
            $('#primaryid').toggleClass("btn-default");
            $('#primaryid').toggleClass("btn-primary");
        });

    });
    $(function () {
        var viewModel = function () {


            // =====year=======
            function YearC(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getFullYear());
            }
            // =====Month=======
            function MonthC(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getMonth());
            }
            // =====Day=======
            function DayC(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getDate();

            }

            // =====Hour=======
            function HoursC(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getHours();

            }
            // =====Minutes=======
            function MinutesC(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt.getMinutes();

            }
            //==========
            

            $.ajaxSettings.traditional = true;
            $.ajax({
                type: "GET",
                url: '/Tenants/loadRequest/',
                data: { TenantID: "@Model.TenantID" },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.request.removeAll();
                    var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                    // debugger;
                    var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                    for (var i = 0; i < TrkPkgs.length; i++) {
                        // debugger;
                        var RDate = MonthC(TrkPkgs[i].RequestedDate) + "/" + DayC(TrkPkgs[i].RequestedDate) + "/" + YearC(TrkPkgs[i].RequestedDate);
                        //alert(RDate);
                        self.request.push({
                            rDate: RDate,
                            RequestNumber:TrkPkgs[i].RequestNumber,
                            Description: TrkPkgs[i].ProblemDescription,
                            Status: TrkPkgs[i].Status,
                            ID: TrkPkgs[i].ID,
                            Category: TrkPkgs[i].Category,
                            Instruction: TrkPkgs[i].Instruction,
                            Urgency: TrkPkgs[i].Urgency,
                            Permision: TrkPkgs[i].Permision,
                            PrimaryName: TrkPkgs[i].PrimaryName,
                            PrimaryPhone: TrkPkgs[i].PrimaryPhone,
                            PrimaryEmail: TrkPkgs[i].PrimaryEmail,
                            SecondaryName: TrkPkgs[i].SecondaryName,
                            SecondaryPhone: TrkPkgs[i].SecondaryPhone,
                            SecondaryEmail: TrkPkgs[i].SecondaryEmail,
                            imgUrl: TrkPkgs[i].imgUrl
                        });
                    }

                }
            });



            self.Phone = ko.observable();
            self.Email = ko.observable();
            self.Urgency = ko.observable();
            self.Category = ko.observable();
            self.Instruction = ko.observable();
            self.Description = ko.observable();
            self.permission = ko.observable();

            self.OtherContactPhone = ko.observable();
            self.OtherContactName = ko.observable();
            self.OtherContactEmail = ko.observable();

            self.request = ko.observableArray();
            self.fileName = ko.observable();
            self.KeydownSearh = ko.observable();
            //===============Preview repait request=======================
            self.selectedDate = ko.observable();
            self.selectedDescription = ko.observable();
            self.selectedRequestNumber = ko.observable();
            self.selectedCategory = ko.observable();
            self.selectedPrimaryName = ko.observable();
            self.selectedPrimaryPhone = ko.observable();
            self.selectedPrimaryEmail = ko.observable();
            self.selectedSecondaryName = ko.observable();
            self.selectedSecondaryPhone = ko.observable();
            self.selectedSecondaryEmail = ko.observable();
            self.selectedInstruction = ko.observable();
            self.selectedUrgency = ko.observable();
            self.selectedPermission = ko.observable();
            self.selectedimgUrl = ko.observable();
            self.selectedStatus = ko.observable();
            self.currentID = ko.observable();
            

            //update fields
            self.UpdateCatetegory = ko.observable();
            self.UpdateInstrutions = ko.observable();
            self.UpdateUrgency = ko.observable();
            self.UpdatePermission = ko.observable();
            self.UpdateProblem = ko.observable();
            self.UpdateSName = ko.observable();
            self.UpdateSPhone = ko.observable();
            self.UpdateSEmail = ko.observable();


            var UpdatedrepairRequest =
            {
                Id: self.currentID,
                RepairRequestCategoriesID: self.UpdateCatetegory,
                ProblemDescription: self.UpdateProblem,
                UrgencyID: self.UpdateUrgency,
                ContactPhone: "@Model.tenant.Phone",
                Permissiontoenter: self.UpdatePermission,
                Email: "@Model.tenant.Username",
                Instructions_: self.UpdateInstrutions,
                PhotoUrl: "",
                TenantID: "@Model.TenantID",
                Status: "Pending Edited",
                RequestedDate: new Date(),
                OtherContactPhone: self.UpdateSPhone,
                OtherContactName: self.UpdateSName,
                OtherContactEmail: self.UpdateSEmail,
                BuildingID:@Model.tenant.Apartment.ID

                };
            self.Update = function () {
                debugger;
                $.ajaxSettings.traditional = true;
                $.ajax({
                    type: "POST",
                    url: '/Tenants/UpdateRequest/',
                    data: ko.toJSON(UpdatedrepairRequest),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        self.request.removeAll();
                        var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                        // debugger;
                        var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                        for (var i = 0; i < TrkPkgs.length; i++) {
                            // debugger;
                            var RDate = MonthC(TrkPkgs[i].RequestedDate) + "/" + DayC(TrkPkgs[i].RequestedDate) + "/" + YearC(TrkPkgs[i].RequestedDate);
                            //alert(RDate);
                            self.request.push({
                                rDate: RDate,
                                RequestNumber:TrkPkgs[i].RequestNumber,
                                Description: TrkPkgs[i].ProblemDescription,
                                Status: TrkPkgs[i].Status,
                                ID: TrkPkgs[i].ID,
                                Category: TrkPkgs[i].Category,
                                Instruction: TrkPkgs[i].Instruction,
                                Urgency: TrkPkgs[i].Urgency,
                                Permision: TrkPkgs[i].Permision,
                                PrimaryName: TrkPkgs[i].PrimaryName,
                                PrimaryPhone: TrkPkgs[i].PrimaryPhone,
                                PrimaryEmail: TrkPkgs[i].PrimaryEmail,
                                SecondaryName: TrkPkgs[i].SecondaryName,
                                SecondaryPhone: TrkPkgs[i].SecondaryPhone,
                                SecondaryEmail: TrkPkgs[i].SecondaryEmail,
                                imgUrl: TrkPkgs[i].imgUrl
                            });
                        }

                    }
                }).complete(function () {
                    self.UpdateCatetegory("");
                    self.UpdateInstrutions("");
                    self.UpdateUrgency("");
                    self.UpdatePermission("");
                    self.UpdateProblem("");
                    self.UpdateSName("");
                    self.UpdateSPhone("");;
                    self.UpdateSEmail("");
                    self.letsee(false);

                });

            };

            self.letsee = ko.observable(false);

            self.edit = function () {
                if (self.letsee() == true) {
                    self.letsee(false);
                } else {

                    self.letsee(true);
                }
            };

            self.previewcancel = function () {
                self.UpdateCatetegory("");
                self.UpdateInstrutions("");
                self.UpdateUrgency("");
                self.UpdatePermission("");
                self.UpdateProblem("");
                self.UpdateSName("");
                self.UpdateSPhone("");;
                self.UpdateSEmail("");
                self.letsee(false);

            };
            self.EditButtonVisibility = ko.observable(false);

            self.openinmodal = function (item, event) {
                var selected_values = JSON.stringify(item);
                var selected = JSON.parse(selected_values);
                self.currentID(selected.ID)
                self.selectedDate(selected.rDate);
                self.selectedDescription(selected.Description);
                self.selectedStatus(selected.Status);
                self.selectedCategory(selected.Category);
                self.selectedPrimaryName(selected.PrimaryName);
                self.selectedPrimaryPhone(selected.PrimaryPhone);
                self.selectedPrimaryEmail(selected.PrimaryEmail); 
                self.selectedSecondaryName(selected.SecondaryName);
                self.selectedSecondaryPhone(selected.SecondaryPhone);
                self.selectedSecondaryEmail(selected.SecondaryEmail);
                self.selectedInstruction(selected.Instruction);
                self.selectedUrgency(selected.Urgency);
                self.selectedPermission(selected.Permision);
                self.selectedimgUrl(selected.imgUrl);


                if( self.selectedStatus()=="Pending")
                {
                    self.EditButtonVisibility(true);
                
                }
                else{
                    self.EditButtonVisibility(false);
                }
            };

            self.KeydownSearh.subscribe(function (value) {
                // debugger;


                $.ajaxSettings.traditional = true;
                $.ajax({

                    type: "POST",
                    url: '/Tenants/loadRequestbysearch/',
                    data: JSON.stringify({ 'TenantID': '@Model.TenantID', 'filter': value }),
                    contentType: "application/json; charset=utf-8",
                    context: document.body,
                    success: function (data) {
                        self.request.removeAll();
                        var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                        // debugger;
                        var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                        for (var i = 0; i < TrkPkgs.length; i++) {
                            // debugger;
                            var RDate = MonthC(TrkPkgs[i].RequestedDate) + "/" + DayC(TrkPkgs[i].RequestedDate) + "/" + YearC(TrkPkgs[i].RequestedDate);
                            //alert(RDate);
                            self.request.push({
                                rDate: RDate,
                                RequestNumber:TrkPkgs[i].RequestNumber,
                                Description: TrkPkgs[i].ProblemDescription,
                                Status: TrkPkgs[i].Status,
                                ID: TrkPkgs[i].ID,
                                Category: TrkPkgs[i].Category,
                                Instruction: TrkPkgs[i].Instruction,
                                Urgency: TrkPkgs[i].Urgency,
                                Permision: TrkPkgs[i].Permision,
                                PrimaryName: TrkPkgs[i].PrimaryName,
                                PrimaryPhone: TrkPkgs[i].PrimaryPhone,
                                PrimaryEmail: TrkPkgs[i].PrimaryEmail,
                                SecondaryName: TrkPkgs[i].SecondaryName,
                                SecondaryPhone: TrkPkgs[i].SecondaryPhone,
                                SecondaryEmail: TrkPkgs[i].SecondaryEmail,
                                imgUrl: TrkPkgs[i].imgUrl

                            });
                        }
                    }
                });
            });


            $(document).ready(function () {
                $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
                    self.fileName(" " + label)
                });
            });
            var $myvalue = 0;
            var request = {
                RepairRequestCategoriesID: self.Category,
                ProblemDescription: self.Description,
                UrgencyID: self.Urgency,
                ContactPhone: "@Model.tenant.Phone",
                Permissiontoenter: self.permission,
                Email: "@Model.tenant.Username",
                Instructions_: self.Instruction,
                PhotoUrl: "",
                TenantID: "@Model.TenantID",
            Status: "Pending",
            RequestedDate: new Date(),
            OtherContactPhone: self.OtherContactPhone,
            OtherContactName: self.OtherContactName,
            OtherContactEmail: self.OtherContactEmail,
            BuildingID:@Model.tenant.Apartment.ID
        };
        self.SendRequest = function (fields) {
            // alert(request);
            // debugger;
            $.ajaxSettings.traditional = true;
            self.request.removeAll();
            $.ajax({
                type: "POST",
                url: '/Tenants/AddRequest/',
                data: ko.toJSON(request),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.request.removeAll();
                    var jsonresult = JSON.stringify(data.Data);// Json.stringify make an object into a json string
                    // debugger;
                    var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                    for (var i = 0; i < TrkPkgs.length; i++) {
                        // debugger;
                        var RDate = MonthC(TrkPkgs[i].RequestedDate) + "/" + DayC(TrkPkgs[i].RequestedDate) + "/" + YearC(TrkPkgs[i].RequestedDate);
                        //alert(RDate);
                        self.request.push({
                            rDate: RDate,
                            RequestNumber:TrkPkgs[i].RequestNumber,
                            Description: TrkPkgs[i].ProblemDescription,
                            Status: TrkPkgs[i].Status,
                            ID: TrkPkgs[i].ID,
                            Category: TrkPkgs[i].Category,
                            Instruction: TrkPkgs[i].Instruction,
                            Urgency: TrkPkgs[i].Urgency,
                            Permision: TrkPkgs[i].Permision,
                            PrimaryName: TrkPkgs[i].PrimaryName,
                            PrimaryPhone: TrkPkgs[i].PrimaryPhone,
                            PrimaryEmail: TrkPkgs[i].PrimaryEmail,
                            SecondaryName: TrkPkgs[i].SecondaryName,
                            SecondaryPhone: TrkPkgs[i].SecondaryPhone,
                            SecondaryEmail: TrkPkgs[i].SecondaryEmail,
                            imgUrl: TrkPkgs[i].imgUrl
                        });
                    }

                }
            }).complete(function () {

                //reset all observable to empty
                self.Phone("");
                self.Email("");
                self.Urgency("");
                self.Category("");
                self.Instruction("");
                self.Description("");
                self.permission("");
                self.OtherContactPhone("");
                self.OtherContactName("");
                self.OtherContactEmail("");
            });
        };
        self.CloseTickets = ko.observableArray();
        self.loadclosedTickets = function () {
            $.ajax({
                type:"GET",
                url: "/Tenants/LoadCloseRequests/",
                datatype: "json",
                data:{TenantID: "@Model.tenant.AspNetUsers.Id"},
                success: function(datareturn){
                    //debugger;
                    //alert(JSON.stringify(datareturn));
                    self.CloseTickets.removeAll();
                    var jsonresult = JSON.stringify(datareturn.Data);// Json.stringify make an object into a json string
                    var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                    for (var i = 0; i < TrkPkgs.length; i++) {

                        var RDate = MonthC(TrkPkgs[i].RequestedDate) + "/" + DayC(TrkPkgs[i].RequestedDate) + "/" + YearC(TrkPkgs[i].RequestedDate);

                        self.CloseTickets.push({
                            RequestedDate: ko.observable(RDate),
                         
                            Description: TrkPkgs[i].Description,
                            ID: TrkPkgs[i].ID,
                            Status: TrkPkgs[i].Status,
                            RequestNumber: TrkPkgs[i].RequestNumber,
                            Category: TrkPkgs[i].Category,
                            PhotoUrl: TrkPkgs[i].PhotoUrl,
                            Urgency: TrkPkgs[i].Urgency,
                            CName: TrkPkgs[i].CName,
                            CEmail: TrkPkgs[i].CEmail,
                            CPhone: TrkPkgs[i].CPhone,
                            PName: TrkPkgs[i].PName,
                            PEmail: TrkPkgs[i].PEmail,
                            PPhone: TrkPkgs[i].PPhone,
                            AssignToID: TrkPkgs[i].AssignToID,
                            AssignedFullName: ko.observable(TrkPkgs[i].AssignedFullName),
                            assignContractorID: TrkPkgs[i].assignContractorID,
                            ContractorFullName: TrkPkgs[i].ContractorFullName
                        });
                    }
                }


            });

        };


    };
    ko.applyBindings(viewModel);


    });
    </script>

}