@model SecurityMonitor.Models.TenantFrontEnd

@{
    ViewBag.Title = "TenantProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row  tenantbox">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding TenantTopSectionBox " id="TenantTopSectionBox ">
       
        <div class="col-lg-5 col-md-5 text-right ">
            <div class="displayinline tenantHeadingtext" id="tenant-text-left">Welcome</div>
        </div>
        <div class="col-lg-2 col-md-2 text-center ">
            <img src="~/Uploads/1912125_10154548105960058_3116917113812959310_n.jpg" class="img-circle displayinline" id="Tenantimgid" />
            </div>
            <div class="col-lg-5 col-md-5 text-left ">
                <div class="displayinline tenantHeadingtext" id="tenant-text-rigt">@Model.tenant.FirstName @Model.tenant.LastName</div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="TenantmiddleSectionBox">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <section style="margin:50px 0 50px 0; ">
                    <!--vCard starts-->
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12   paddingBottom20px nopadding ">
                        <!--header starts-->
                        <section class=" col-md-12 text-center clientboxrow ">
                            <section class=" boxheadTenant  col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding ">
                                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                    
                                    <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 headingsettingstenant">
                                        <h4>Your Contact Information</h4>
                                        <span id="questionteantprofile" class="fa fa-question-circle fa-2x hidden-md hidden-sm hidden-xs" ></span>
                                    </div>
                                    <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
                                        <span class="Tenantprofilecontactinfo">@Model.tenant.FirstName @Model.tenant.LastName</span>
                                        <hr class="nopadding" />
                                        <span class="Tenantprofilecontactinfo">@Model.building.Address @Model.apartment.ApartmentNumber</span>
                                        <hr class="nopadding" />
                                        <span class="Tenantprofilecontactinfo">@Model.building.City @Model.building.State @Model.building.Zipcode</span>
                                        <hr class="nopadding" />
                                        <span class="Tenantprofilecontactinfo">@Model.tenant.Username</span>
                                        <hr class="nopadding" />
                                        <span class="Tenantprofilecontactinfo">@Model.tenant.Phone </span>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </div>
                </section>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
           
                    <section style="margin:50px 0 50px 0; ">
                        <!--vCard starts-->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12   paddingBottom20px nopadding ">
                            <!--header starts-->
                            <section class=" col-md-12 text-center clientboxrow ">
                                <section class=" boxheadTenant  col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding ">
                                    <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding headingsettingstenant">
                                            <h4>Building Information</h4>
                                        </div>
                                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left headingsettingstenantbuildinginfo">
                                            <div class="nolineheight">@Model.building.BuildingName</div>
                                            <hr class="nopadding" />
                                            <span class="nolineheight">@Model.building.Address</span>
                                            <hr class="nopadding" />
                                            <span class="nolineheight">@Model.building.City @Model.building.State @Model.building.Zipcode</span>
                                            <hr class="nopadding" />
                                            <span class="nolineheight">@Model.building.BuildingPhone</span>
                                            <hr class="nopadding" />
                                            <span class="nolineheight"><span>Email US: <span class="fa fa-inbox fa-2x"></span></span></span>
                                        </div>
                                    </div>



                                </section>
                            </section>
                        </div>
                    </section>
               

            </div>
            <!--modules-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                
                    <section style="margin:10px 0 50px 0; ">
                        <!--vCard starts-->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12   paddingBottom20px nopadding ">
                            <!--header starts-->
                            <section class=" col-md-12 text-center clientboxrow  nopadding">
                                <section class="   col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding white " style="background:none;">
                                   
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 tenantmodulessettings nopadding modulestenantbox ">
                                            <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 headingsettingstenant nopadding" id="headingsettingstenant">
                                                <h4>Building Anouncements</h4>
                                                <span id="questionteantprofile" class="fa fa-question-circle fa-2x hidden-md hidden-sm hidden-xs"></span>
                                            </div>

                                             <!--modules loop this-->
                                            @foreach (var item in @Model.modules)
                                            {
                                                <section style="margin:0px 0 0px 0; ">
                                                    <!--vCard starts-->
                                                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6   paddingBottom20px  route" data-route="@item.ServiceName">
                                                        <!--header starts-->
                                                        <section class="hollow5 boxheadTenantBottomModulesbox col-md-12 text-center clientboxrow  ">
                                                            <section class="   col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding ">
                                                                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <h4>@item.ServiceName</h4>
                                                                </div>
                                                            </section>
                                                        </section>
                                                    </div>
                                                </section>
                                            }

                                        </div>
                                    </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  ">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center  buildingcontactandform ">
                                                <span class="col-sm-3 col-xs-3 col-sm-6 col-xs-6 text-center nopadding tenantfooter">Building Forms </span>
                                                <span class="col-sm-3 col-xs-3 col-sm-6 col-xs-6 text-center nopadding tenantfooter">Staff Directory </span>
                                                <span class="col-sm-3 col-xs-3 col-sm-6 col-xs-6 text-center nopadding tenantfooter">Front Desk </span>
                                                <span class="col-sm-3 col-xs-3 col-sm-6 col-xs-6 text-center nopadding tenantfooter">Message Building</span>
                                            </div>
                                        </div>
</section>
                            </section>
                        </div>
                    </section>
                   
                </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <section style="margin:10px 0 50px 0; ">
                    <!--vCard starts--> 
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12   paddingBottom20px nopadding ">
                        <!--header starts-->
                        <section class=" col-md-12 text-center clientboxrow ">
                            <section class=" boxheadTenantBottom  col-md-12 col-lg-12 col-sm-12 col-xs-12 nopadding ">
                                <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                
                                        @*<div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 headingsettingstenant nopadding">
                                            <h4>Building Anouncements</h4>
                                            <span id="questionteantprofile" class="fa fa-question-circle fa-2x hidden-md hidden-sm hidden-xs"></span>
                                        </div>*@

                                    <ul class="nav nav-tabs nav-tabs-tenant" id="tabs" >
                                        <li role="presentation" class="active  " id="tenanttabs"><a href="#SC" data-toggle="tab" class="hvr-underline-reveal" role="tab">Notifications</a></li>
                                        <li role="presentation"><a href="#SC1" data-toggle="tab">Building Anouncement</a></li>
                                       
                                    </ul>


                                    
                                    <div class=" boxname col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" id="tenantBuildinganouncement">                                        
                                        <div class="tab-content">   
                                                                               
                                            <div class="tab-pane active scrollable" id="SC" data-bind="foreach:listofnotification ">
                                                <hr class="nopadding" />
                                                <p class="Acouncementtenant"><span>Ticket#:</span><a href="#" data-bind="text:TicketNumber"></a> <span data-bind="text:NotificationMessage"></span></p>
                                                @*<hr class="nopadding" />
                                                <p class="AcouncementtenantHeat"> <span>Ticket# <a href="#">7172015-5</a> is now close. </span></p>
                                                <hr class="nopadding" />
                                                <p class="AcouncementtenantElevator"> <span>Ticket# <a href="#">7192015-5</a> has been assign to Electric</span></p>*@

                                            </div>

                                            <div class="tab-pane" id="SC1">
                                                <hr class="nopadding" />
                                                <p class="Acouncementtenant"> <span>There will be no hot water this coming Sunday and Monday. Water services will be resume on Tuesday Morning.</span></p>
                                                <hr class="nopadding" />
                                                <p class="AcouncementtenantHeat"> <span>There will be no heat this coming Sunday and Monday. The heat will be shut down for the remainder of the sesson</span></p>
                                                <hr class="nopadding" />
                                                <p class="AcouncementtenantElevator"> <span>There has been eletrical issues that needs to be solve. Elevator is out of service.</span></p>
                                                <hr class="nopadding" />
                                                <p class="Acouncementtenant"> <span>There will be no hot water this coming Sunday and Monday. Water services will be resume on Tuesday Morning.</span></p>
                                                <hr class="nopadding" />
                                                <p class="Acouncementtenant"> <span>There will be no hot water this coming Sunday and Monday. Water services will be resume on Tuesday Morning.</span></p>
                                            </div>
                                            </div>
                                        </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tenantBuildinganoucementbottombox">

                                            </div>

                                        </div>
</section>
                        </section>
                    </div>
                </section>

            </div>

        </div>
    </div>



</div>


<div class="row">
    <div class="col-md-12 col-lg-12">
       
    </div>
</div>



@section scripts{

<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/knockout-3.1.0.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>    
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/hover.css" rel="stylesheet" />
    <script type="text/javascript">

        $(function () {

            $('#tenanttabs a').on('click', function () {
                $(this).css("color", "red");
            });


            $('#SC a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        
            $('.route').click(function () {
                var route = $(this).attr("data-route");
             
                switch(route)
                {
                    case "Repair":
                       
                        window.location.href = "/Tenants/Repair?TenantID=@Model.tenant.ID";
                        break;
                
                
                }
            });


            var viewmodel = function () {

                var self = this;

                loadnotification();
                self.listofnotification = ko.observableArray();

                function loadnotification() {
                    $.ajax({
                        type: "get",
                        datatype: "json",
                        url: "/Tenants/TenantNotification/",
                        data: { TenantID: "@Model.tenant.AspNetUsers.Id" },
                        success: function (returndata) {
                            self.listofnotification.removeAll();
                            var jsonresult = JSON.stringify(returndata.Data);// Json.stringify make an object into a json string
                            // debugger;
                            var TrkPkgs = JSON.parse(jsonresult); //JSON.parse makes a json string into a json object example obj.FirstName
                            for (var i = 0; i < TrkPkgs.length; i++) {
                                self.listofnotification.push({
                                    TicketNumber: TrkPkgs[i].TicketNumber,
                                    NotificationMessage: TrkPkgs[i].NotificationMessage
                                  
                                });
                            }   
                        }

                    });
                }
            }
            ko.applyBindings(viewmodel)

        })






    </script>
    }